[defaults]

inventory = ./vars/prod/a1
host_key_checking = False

gathering=explicit
transport=paramiko

hash_behaviour = merge

log_path  = ./logs/latest.log

library = /usr/local/lib/python2.7/dist-packages/napalm_ansible:./library/

[persistent_connection]
connect_timeout = 180
